*.pyc

# data
*.tar.gz
data/images
data/objects
*.h5

# tf checkpoints
checkpoint
*.data-*
*.index
*.meta

# Vanilla latex
*.aux
*.blg
*.bbl
report/*.log
egpaper_final.pdf

# Latexmk and Makefile
*-blx.bib
*.fdb*
*.fls*
*.xml
.refresh
main.out

# Latex minted package
_minted-paper/
